# Preprocessing

- 분석할 때 가장 먼저 하는 작업이 데이터를 분석에 맞는 형태로 변환시키는 것(scale 등)
- 이번 스터디의 목적은 도구를 함께 배워보는 것이라 다루지 않았지만 정리할 필요성을 느껴 추가함
- 이전에 다루었던 scaler와 더불어 categorical 자료를 소개

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('../1.clustering/titanic.csv')

target = data['Survived']
data = data.drop(['PassengerId', 'Survived'], axis=1)

# def sex(a):
#     if a == 'male':
#         return 0
#     else:
#         return 1
    
# def emb(a):
#     if a == 'S':
#         return 0
#     elif a == 'Q':
#         return 1
#     else:
#         return 2
    
# data['Sex'] = data['Sex'].map(sex)
# data['Embarked'] = data['Embarked'].map(emb)

# train_X, test_X, train_y, test_y = train_test_split(data, target, test_size=0.3, random_state=2019, shuffle=True)

In [2]:
categorical = [
    'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'
]

numeric = [
    'Age', 'Fare'
]

label = [
    'Sex', 'Embarked'
]

In [3]:
## scaler
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
num = pd.DataFrame(scaler.fit_transform(data[numeric]), columns=numeric)

data['Age'] = num['Age']
data['Fare'] = num['Fare']

In [4]:
num

          Age      Fare
0   -0.527669 -0.516380
1    0.577094  0.694046
2   -0.251478 -0.503620
3    0.369951  0.350326
4    0.369951 -0.501257
..        ...       ...
707  0.646142 -0.102875
708 -0.182430 -0.407687
709 -0.734812 -0.086335
710 -0.251478 -0.086335
711  0.162808 -0.506928

[712 rows x 2 columns]

In [4]:
## label encoding
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
lbe = LabelEncoder()
data['Sex'] = lbe.fit_transform(data['Sex'])
sex = lbe.classes_
data['Embarked'] = lbe.fit_transform(data['Embarked'])
emb = lbe.classes_

In [28]:
## onehot using pandas
for c in categorical:
    data = pd.concat([data, pd.get_dummies(data[c], prefix=c)], axis=1)
    data = data.drop(c, axis=1)

In [7]:
data

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_0,Sex_1,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_0,Embarked_1,Embarked_2
0,-0.527669,-0.516380,0,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0.577094,0.694046,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,-0.251478,-0.503620,0,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0.369951,0.350326,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0.369951,-0.501257,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.646142,-0.102875,0,0,1,1,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
708,-0.182430,-0.407687,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
709,-0.734812,-0.086335,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
710,-0.251478,-0.086335,1,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,1,0,0
711,0.162808,-0.506928,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,1,0